@import "./colors";

$dolphin-font-family: "Poppins", sans-serif !important;
$table-font-family: "Josefin Sans";

//Font-size
$label-font-style: normal;
$label-font-weight: 400;
$label-font-size: 14px;

.font-green {
  color: map-get($Green, level_8) !important;
  font-weight: 700 !important;
}

.font-grey {
  color: map-get($grey, level_6) !important;
}

.font-blue {
  color: map-get($sky, level_6) !important;
  font-weight: 700 !important;
}

.font-pink {
  color: map-get($pink, level_8) !important;
  font-weight: 700 !important;
}

.font-purple {
  color: map-get($fuchsia, level_8) !important;
  font-weight: 700 !important;
}

.font-red {
  color: map-get($red, level_6) !important;
  text-align: right;
}

.font-amber {
  color: map-get($amber, level_6) !important;
  text-align: right;
}

.font-selected-theme {
  color: var(--level-8);
  font-weight: 700 !important;
}
