.gallery_intro {
  background: #0463ca;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery_intro h1 {
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  color: black;
}
.gallery_category {
  background: whitesmoke;
  width: 70%;
  margin-top: 20px;
  border-radius: 10px;
}
.ima {
  width: 300px;
  margin: 10px 10px 10px 10px;
  position: relative;
}
.ima img {
  object-fit: contain;
  width: 100%;
  height: 80%;
  // box-shadow: 10px 10px 10px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.cat_title {
  position: absolute;
  top: 80%;
  // bottom: 70%;
  left: 10%;
  font-size: 20px;
  font-weight: bold;
  color: black;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
}
.gallery {
  display: flex;
  padding: 2px;
  transition: 0.3s;

  &:hover &__image {
    filter: grayscale(1);
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__link {
    // margin: 2px;
    overflow: hidden;

    &:hover {
      .gallery__image {
        filter: grayscale(0);
      }

      .gallery__caption {
        opacity: 1;
      }
    }
  }

  &__thumb {
    position: relative;
  }

  &__image {
    display: block;
    width: 100%;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    transition: 0.3s;
  }
}
.pagination-div {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
}
// .MuiPagination-text {
//   height: 80px;
// }
.css-g2z002-MuiSvgIcon-root-MuiPaginationItem-icon {
  font-size: 50px !important;
}
.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root {
  font-size: 20px !important;
}
