.landing_page {
  height: calc(100% - 80px);
  /* overflow: hidden; */
  background-size: cover;
  background-color: #edfdfd;
  display: flex;
  flex-direction: column;
  &-details {
    display: flex;
    flex-direction: row;
  }
  .image_corousel {
    width: 60%;
    border-radius: 10px;
    img {
      width: 100%;
      margin-left: 30px;
      height: 100%;
      border-radius: 30px;
    }
  }
  .main-head {
    color: var(--gray-600, #4a5568);
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
  .landing_text {
    display: flex;
    width: 30%;
    padding: 50px 20px;
    flex-direction: column;
    margin-left: 20px;
    align-items: center;
    // gap: 20px;
    align-self: stretch;
    border-radius: 30px;
    background: rgba(45, 55, 72, 0.1);
    backdrop-filter: blur(16.133333206176758px);
    ul {
      li {
        margin-top: 20px;
        font-family: "Poppins", sans-serif;
      }
    }
  }
}

.head_title {
  color: var(--gray-800, #1a202c);
  font-size: 36px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  line-height: normal;
  padding-left: 20px;
  border-left: 5px solid #046bc1;
  /* color: white; */
}
.head-paragraph {
  font-size: 20px;
  margin-top: 30px;
  text-align: justify;
  font-weight: 300;
  /* color: white; */
}
.landing_page:after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}
.landing_page > img {
  margin: 25px;
}
.get-quote-btn {
  /* color: antiquewhite; */
  background-color: #046bc1;
  border: 0;
  border-radius: 10px;
  color: white;
  /* height: 10px; */
  /* border: 2px solid skyblue; */
  margin-top: 50px;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  /* padding: 10px 10px; */
  outline: none;
  font-weight: bolder;
  width: 30%;
  cursor: pointer;
}

@media only screen and (max-width: 1390px) {
  .landing_text {
    width: 70%;
  }
}
@media only screen and (max-width: 990px) {
  .get-quote-btn {
    width: 30%;
  }
}
@media only screen and (max-width: 770px) {
  .landing_text {
    width: 70%;
  }
  // .head_title {
  //   font-size: 30px;
  // }
  .head-paragraph {
    font-size: 15px;
  }
}
@media only screen and (max-width: 670px) {
  .landing_text {
    width: 70%;
  }
  .head_title {
    font-size: 25px;
  }
  .head-paragraph {
    font-size: 15px;
  }
  .get-quote-btn {
    font-size: 18px;
  }
}
@media only screen and (max-width: 400px) {
  .landing_text {
    width: 70%;
  }
  .head_title {
    font-size: 20px;
  }
  .head-paragraph {
    font-size: 15px;
  }
}
