.landing_page {
  height: calc(100% - 60px);
  background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, #101426 100%),
    url("../../images/landing.jpg"), lightgray 50% / cover no-repeat;
  background-blend-mode: multiply, normal;
  background-size: cover;
  display: flex;
  flex-direction: row;
}
.landing_text {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 50%;
  margin-left: 20px;

  font-family: "Poppins", sans-serif;
}
.head_title {
  font-size: 50px;
  color: white;
}
.head-paragraph {
  font-size: 20px;
  margin-top: 30px;
  text-align: justify;
  font-weight: 300;
  color: white;
}
.landing_page:after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}
.landing_page > img {
  margin: 25px;
}
.get-quote-btn {
  /* color: antiquewhite; */
  background-color: #046bc1;
  border: 0;
  border-radius: 10px;
  color: white;
  /* height: 10px; */
  /* border: 2px solid skyblue; */
  margin-top: 50px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  /* padding: 10px 10px; */
  outline: none;
  font-weight: bolder;
  width: 20%;
  cursor: pointer;
}

@media only screen and (max-width: 1390px) {
  .landing_text {
    width: 70%;
  }
}
@media only screen and (max-width: 990px) {
  .get-quote-btn {
    width: 30%;
  }
}
@media only screen and (max-width: 770px) {
  .landing_text {
    width: 70%;
  }
  .head_title {
    font-size: 30px;
  }
  .head-paragraph {
    font-size: 15px;
  }
}
@media only screen and (max-width: 670px) {
  .landing_text {
    width: 70%;
  }
  .head_title {
    font-size: 25px;
  }
  .head-paragraph {
    font-size: 15px;
  }
  .get-quote-btn {
    font-size: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .landing_text {
    width: 70%;
  }
  .head_title {
    font-size: 20px;
  }
  .head-paragraph {
    font-size: 10px;
  }
}
